.list--unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.list--inline {
  > li {
    display: inline-block;
  }
}

.small-text {
  font-size: .8em;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}